<app-spinner></app-spinner>

<div class="container-fluid">

    <!-- HEADER -->
    <app-header></app-header>

    <!-- FIRST SECTION -->
    <main role="main"
        class="container-fluid mx-2 mb-5 responsive">

        <!-- MAIN COLUMN -->
        <div class="row">

            <!-- LEFT COLUMN (SEARCH + RESULTS AREA) -->
            <div class="col-md-9">
                <main class="container-fluid bg-light p-5"
                    id="main">
                    <h3 *ngIf="innerWidth > 576"
                        class="row text-center"> Brew Finder </h3>
                    <app-search-form></app-search-form>
                </main>
            </div>

            <!-- RIGHT COLUMN (RSS FEED) -->
            <div class="col-md-3">
                <aside class="bg-light"
                    id="aside">
                    <app-rss-feed></app-rss-feed>
                </aside>
            </div>

        </div>
    </main>

    <!-- FOOTER -->
    <app-footer></app-footer>

</div>
<router-outlet></router-outlet>