.grid-container {
    margin: 20px;
}

.dashboard-card {
    //position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    width: 90%;
    justify-content: center;
}

.more-button {
    //position: absolute;
    top: 5px;
    right: 10px;
}

.myGridList {
    height: 100%;
}