<form class="form-inline col-md-12 py-4"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()">
    <div class="form-group">
        <select class="form-control mx-3"
            id="searchType"
            formControlName="searchType"
            value="Breweries by Keyword">
            <option value="Breweries by Keyword"
                selected>Breweries by Keyword</option>
            <option value="Beers by Keyword">Beers by Keyword</option>
            <option value="Breweries Nearby">Breweries Nearby</option>
        </select>
    </div>
    <div class="form-group has-error">
        <input *ngIf="userForm.get('searchType').value !== 'Breweries Nearby'"
            type="text"
            class="form-control"
            id="searchCriteria"
            formControlName="searchCriteria"
            placeholder="e.g., IPA, dog, etc.">
    </div>
    <div class="form-group mx-4">
        <button id="submitButton"
            type="submit"
            class="btn btn-primary btn-lg mr-1">Chug!</button>
    </div>
</form>

<div class="mat-elevation-z8 table-responsive">
    <div class="row h-50 justify-content-center align-items-center m-0"
        style=" background-color: white;">

        <!-- FILTER INPUT BOX -->
        <div class="col-12 px-5"
            style="padding-top: 15px">
            <mat-form-field class="no-padding"
                appearance="outline"
                style="width: 100%">
                <mat-label> Enter in any keywords to filter results </mat-label>
                <input matInput
                    (keyup)="applyFilter($event)"
                    placeholder="e.g. IPA, Belgian Style, Guinness, Lagunitas Brewing Company">
            </mat-form-field>
        </div>
    </div>

    <table mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        multiTemplateDataRows
        #sort="matSort"
        matSort>

        <ng-container [matColumnDef]="column"
            *ngFor="let column of displayedColumns">
            <div [ngSwitch]="column">

                <!-- UP/DOWN ARROW COLUMN -->
                <ng-container *ngSwitchCase="'arrow'"
                    sticky>
                    <th mat-header-cell
                        *matHeaderCellDef>
                        <mat-icon style="opacity: 0.0"> keyboard_arrow_right </mat-icon>
                    </th>

                    <td mat-cell
                        *matCellDef="let element">
                        <div [ngSwitch]="element">
                            <ng-container *ngSwitchCase="expandedElement">
                                <mat-icon style="cursor: default"> expand_less </mat-icon>
                            </ng-container>

                            <ng-container *ngSwitchDefault>
                                <mat-icon style="cursor: default"> expand_more </mat-icon>
                            </ng-container>
                        </div>
                    </td>
                </ng-container>

                <!-- WEBSITE COLUMN -->
                <ng-container *ngSwitchCase="'website'">
                    <th mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header> {{column}} </th>
                    <td mat-cell
                        *matCellDef="let element">
                        <a href="{{element[column]}}"> {{element[column]}} </a>
                    </td>
                </ng-container>

                <!-- DEFAULT COLUMN -->
                <ng-container *ngSwitchDefault>
                    <th mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header> {{column}} </th>
                    <td mat-cell
                        *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>
            </div>
        </ng-container>




        <!-- EXPANDED CONTENT COLUMN: The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell
                *matCellDef="let element"
                [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    style="min-height: 800px">

                    <mat-tab-group dynamicHeight
                        style="width: 100%"
                        (selectedTabChange)="onClickTabs($event, element)">

                        <!-- INFO TAB -->
                        <mat-tab>
                            <ng-template mat-tab-label>
                                Info
                                <mat-icon class="example-tab-icon"> info </mat-icon>
                            </ng-template>

                            <ng-template matTabContent>
                                <div class="container-fluid example-large-box start mat-elevation-z4">

                                    <ng-container *ngFor="let key of objectKeys(element); let i = index">
                                        <div style="display: inline">
                                            <b> {{key}}: </b> {{element[key]}}
                                        </div>
                                    </ng-container>

                                </div>
                            </ng-template>
                        </mat-tab>

                        <!-- DIRECTIONS TAB -->
                        <mat-tab *ngIf="curCoords && userForm.get('searchType').value !== 'Beers by Keyword'">
                            <ng-template mat-tab-label>
                                Directions
                                <mat-icon class="example-tab-icon"> directions </mat-icon>
                            </ng-template>

                            <ng-template matTabContent>
                                <div class="container-fluid example-large-box start mat-elevation-z4">

                                    <div *ngIf="breweryAddress"
                                        style="display: inline;">
                                        <b> Name: </b> {{breweryAddress.name}} <br />
                                        <b> Street Address: </b> {{breweryAddress.streetAddress}} <br />
                                        <b> City: </b> {{breweryAddress.locality}} <br />
                                        <b> State: </b> {{breweryAddress.region}} <br />
                                        <b> Postal Code: </b> {{breweryAddress.postalCode}} <br />
                                        <b> Country: </b> {{breweryAddress.country}} <br />
                                        <b> Latitude: </b> {{breweryAddress.latitude}} <br />
                                        <b> Longitude: </b> {{breweryAddress.longitude}} <br />
                                    </div>

                                    <iframe *ngIf="src"
                                        width="600"
                                        height="450"
                                        frameborder="0"
                                        style="border:0"
                                        [src]="src"
                                        allowfullscreen></iframe>

                                </div>
                            </ng-template>
                        </mat-tab>

                        <!-- BEER STUFF TAB -->
                        <!-- <mat-tab>
                            <ng-template mat-tab-label>
                                BEER STUFF
                                <mat-icon class="example-tab-icon"> local_drink </mat-icon>
                            </ng-template>

                            <ng-template matTabContent>
                                <div class="container-fluid example-large-box start mat-elevation-z4">

                                    <iframe width="600"
                                        height="450"
                                        frameborder="0"
                                        style="border:0"
                                        src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJJ3SpfQsLlVQRkYXR9ua5Nhw&destination=place_id:ChIJVTPokywQkFQRmtVEaUZlJRA&key=AIzaSyCwUi4rZeHrolxoEd37PS724XoCZgHIawY"
                                        allowfullscreen></iframe>

                                </div>
                            </ng-template>
                        </mat-tab> -->

                    </mat-tab-group>

                </div>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let element; columns: displayedColumns"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = element"></tr>
        <tr mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"
        [pageSize]="10"></mat-paginator>
</div>